<form method="post" action="{{ path('goatAbater', {'id': goat.id}) }}" onsubmit="return confirm('Quer abater esse animal?');">
    <input type="hidden" name="_token" value="{{ csrf_token('abater' ~ goat.id) }}">
    <button class="btn btn-danger">Abater</button>
</form>
